body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    /* background-color: #010101 !important;   */
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-indicators /*, .carousel-indicators */ {
    filter: invert(100%);
}


