{% extends "base.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-12">
        <div id="wrapper">
            <div id="content" style="width:auto !important ; max-width: 100% !important;">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-7">
                                <h1>Object-Oriented Programming Terms</h1>
                            </div>
                            <div class="col"></div>
                        </div>
                        <br>
                        <section>
                            <div>
                                <p>
                                    Object-Oriented Programming or OOPs refers to languages that uses objects in
                                    programming. Object-oriented programming aims to implement real-world entities like
                                    inheritance, hiding, polymorphism etc in programming. The main aim of OOP is to bind
                                    together the data and the functions that operate on them so that no other part of
                                    the code can access this data except that function.
                                </p>
                                <p>
                                    Objects communicate with one another by sending and receiving information to each
                                    other. A message for an object is a request for execution of a procedure and
                                    therefore will invoke a function in the receiving object that generates the desired
                                    results. Message passing involves specifying the name of the object, the name of the
                                    function and the information to be sent.
                                </p>
                        </section>
                        <!-- <section id="areas">
                            <h1>skills and expertise</h1>
                            <ul>
                                <li>Javascript, HTML, CSS, Python,<br />
                                    AngularJS, Node.js, Java, Spring Framework, JQuery, GIT, <br />
                                    SQL Server, Docker, Azure DevOps
                            </ul>
                        </section> -->
                        <br>
                        <section style="padding-left: 40px; padding-right: 25px;">
                            <div class="card" style="background-color:transparent; border-color: #ffcc00;">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                            <h2 class="card-title big-text">Instantiation</h2>
                                            <p class="card-text">Instantiation is the realization of a predefined
                                                object.
                                                In OOP (object-oriented programming), a class of object may be defined.
                                                All objects of this class have a certain set of properties (associated
                                                variables), accessories (ways to access those variables), and methods
                                                (functions). An instance of that object may then be declared, giving it
                                                a unique, named identity so that it may be used in the program. This
                                                process is called "instantiation." <a
                                                    href="https://www.computerhope.com/jargon/i/instantiation.htm"
                                                    target="_blank">[Learn More]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <br />
                        <section style="padding-left: 40px; padding-right: 25px;">
                            <div class="card" style="background-color:transparent; border-color: #ffcc00;">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                            <h2 class="card-title big-text">Object</h2>
                                            <p class="card-text">An object, in object-oriented programming (OOP), is an
                                                abstract data type created by a developer. It can include multiple
                                                properties and methods and may even contain other objects. In most
                                                programming languages, objects are defined as classes.

                                                Objects provide a structured approach to programming. By defining a
                                                dataset as a custom object, a developer can easily create multiple
                                                similar objects and modify existing objects within a program.
                                                Additionally, objects provide "encapsulation," meaning the data within
                                                an object is protected from being modified or destroyed by other
                                                functions or methods unless explicitly allowed. <a
                                                    href="https://techterms.com/definition/object"
                                                    target="_blank">[Learn More]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <br />
                        <section style="padding-left: 40px; padding-right: 25px;">
                            <div class="card" style="background-color:transparent; border-color: #ffcc00;">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                            <h2 class="card-title big-text">Class</h2>
                                            <p class="card-text">A class is used in object-oriented programming to
                                                describe one or more objects. It serves as a template for creating, or
                                                instantiating, specific objects within a program. While each object is
                                                created from a single class, one class can be used to instantiate
                                                multiple objects.

                                                Several programming languages support classes, including Java, C++,
                                                Objective C, and PHP 5 and later. While the syntax of a class definition
                                                varies between programming languages, classes serve the same purpose in
                                                each language. All classes may contain variable definitions and methods,
                                                or subroutines that can be run by the corresponding object. <a
                                                    href="https://techterms.com/definition/class" target="_blank">[Learn
                                                    More]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <br />
                        <section style="padding-left: 40px; padding-right: 25px;">
                            <div class="card" style="background-color:transparent; border-color: #ffcc00;">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                            <h2 class="card-title big-text">Namespaces</h2>
                                            <p class="card-text">A namespace is a declarative region that provides a
                                                scope to the identifiers (the names of types, functions, variables, etc)
                                                inside it. Namespaces are used to organize code into logical groups and
                                                to prevent name collisions that can occur especially when your code base
                                                includes multiple libraries. All identifiers at namespace scope are
                                                visible to one another without qualification. Identifiers outside the
                                                namespace can access the members by using the fully qualified name for
                                                each identifier. Code in header files should always use the fully
                                                qualified namespace name. <a
                                                    href="https://docs.microsoft.com/en-us/cpp/cpp/namespaces-cpp?view=msvc-170#:~:text=A%20namespace%20is%20a%20declarative,code%20base%20includes%20multiple%20libraries."
                                                    target="_blank">[Learn More]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <br />
                        <section style="padding-left: 40px; padding-right: 25px;">
                            <div class="card" style="background-color:transparent; border-color: #ffcc00;">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                            <h2 class="card-title big-text">Constructor</h2>
                                            <p class="card-text">A constructor in Java is a special method that is used
                                                to initialize objects. The constructor is called when an object of a
                                                class is created. It can be used to set initial values for object
                                                attributes.<a
                                                    href="https://www.w3schools.com/java/java_constructors.asp#:~:text=A%20constructor%20in%20Java%20is,of%20a%20class%20is%20created."
                                                    target="_blank">[Learn More]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <br />
                        <section style="padding-left: 40px; padding-right: 25px;">
                            <div class="card" style="background-color:transparent; border-color: #ffcc00;">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                            <h2 class="card-title big-text">Fixture</h2>
                                            <p class="card-text">The purpose of a test fixture is to ensure that there
                                                is a well known and fixed environment in which tests are run so that
                                                results are repeatable. Some people call this the test context.
                                                <br>
                                                Examples of fixtures:
                                            <ul>
                                                <li>1. Loading a database with a specific, known set of data</li>
                                                <li>2. Erasing a hard disk and installing a known clean operating system
                                                    installation</li>
                                                <li>3. Copying a specific known set of files</li>
                                                <li>4. Preparation of input data and set-up/creation of fake or mock
                                                    objects</li>
                                            </ul>
                                            <a href="https://en.wikipedia.org/wiki/Test_fixture#Software"
                                                target="_blank">[Learn More]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <br />
                        <section style="padding-left: 40px; padding-right: 25px;">
                            <div class="card" style="background-color:transparent; border-color: #ffcc00;">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                            <h2 class="card-title big-text">Type Casting</h2>
                                            <p class="card-text">Type casting refers to changing an variable of one data
                                                type into another. The compiler will automatically change one type of
                                                data into another if it makes sense. For instance, if you assign an
                                                integer value to a floating-point variable, the compiler will convert
                                                the int to a float. Casting allows you to make this type conversion
                                                explicit, or to force it when it wouldn’t normally happen.<a
                                                    href="https://developerinsider.co/type-casting-c-programming/"
                                                    target="_blank">[Learn More]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <br />
                        <section style="padding-left: 40px; padding-right: 25px;">
                            <div class="card" style="background-color:transparent; border-color: #ffcc00;">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                            <h2 class="card-title big-text">Unit Testing</h2>
                                            <p class="card-text">In computer programming, unit testing is a software
                                                testing method by which individual units of source code—sets of one or
                                                more computer program modules together with associated control data,
                                                usage procedures, and operating procedures—are tested to determine
                                                whether they are fit for use.<a
                                                    href="https://en.wikipedia.org/wiki/Unit_testing"
                                                    target="_blank">[Learn More]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}