{% extends "base.html" %}
{% block content %}
<span>
    <div class="row">
        <div class="col-3">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="col" style="padding-top: 20px;">
            <p>Morbi ultrices nulla vel facilisis pharetra. Etiam vel magna sed purus sodales hendrerit a vitae
                lectus. Etiam luctus est scelerisque maximus iaculis. Phasellus sollicitudin, enim ac fringilla
                lacinia, erat quam luctus lectus, sit amet scelerisque sem leo a neque. Praesent tincidunt libero
                vitae placerat vestibulum. Etiam vel lectus id ante tincidunt elementum sit amet id turpis. Donec at
                luctus est. Cras a porta dui, at luctus felis. Nullam suscipit ex ac enim mollis placerat. Morbi
                ante leo, semper vel rutrum vitae, vulputate nec felis. Integer gravida aliquam quam, a malesuada
                enim mollis vitae. Mauris ut ex sit amet diam ultricies porttitor. Aenean blandit fringilla augue a
                blandit. Nulla rhoncus fringilla neque, id sollicitudin nibh faucibus non. Vestibulum bibendum sem
                augue, sit amet dapibus mi efficitur et. Curabitur ultrices porttitor pellentesque.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="col" style="padding-top: 20px;">
            <p>Morbi ultrices nulla vel facilisis pharetra. Etiam vel magna sed purus sodales hendrerit a vitae
                lectus. Etiam luctus est scelerisque maximus iaculis. Phasellus sollicitudin, enim ac fringilla
                lacinia, erat quam luctus lectus, sit amet scelerisque sem leo a neque. Praesent tincidunt libero
                vitae placerat vestibulum. Etiam vel lectus id ante tincidunt elementum sit amet id turpis. Donec at
                luctus est. Cras a porta dui, at luctus felis. Nullam suscipit ex ac enim mollis placerat. Morbi
                ante leo, semper vel rutrum vitae, vulputate nec felis. Integer gravida aliquam quam, a malesuada
                enim mollis vitae. Mauris ut ex sit amet diam ultricies porttitor. Aenean blandit fringilla augue a
                blandit. Nulla rhoncus fringilla neque, id sollicitudin nibh faucibus non. Vestibulum bibendum sem
                augue, sit amet dapibus mi efficitur et. Curabitur ultrices porttitor pellentesque.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="col" style="padding-top: 20px;">
            <p>Morbi ultrices nulla vel facilisis pharetra. Etiam vel magna sed purus sodales hendrerit a vitae
                lectus. Etiam luctus est scelerisque maximus iaculis. Phasellus sollicitudin, enim ac fringilla
                lacinia, erat quam luctus lectus, sit amet scelerisque sem leo a neque. Praesent tincidunt libero
                vitae placerat vestibulum. Etiam vel lectus id ante tincidunt elementum sit amet id turpis. Donec at
                luctus est. Cras a porta dui, at luctus felis. Nullam suscipit ex ac enim mollis placerat. Morbi
                ante leo, semper vel rutrum vitae, vulputate nec felis. Integer gravida aliquam quam, a malesuada
                enim mollis vitae. Mauris ut ex sit amet diam ultricies porttitor. Aenean blandit fringilla augue a
                blandit. Nulla rhoncus fringilla neque, id sollicitudin nibh faucibus non. Vestibulum bibendum sem
                augue, sit amet dapibus mi efficitur et. Curabitur ultrices porttitor pellentesque.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Danger card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
        <div class="col" style="padding-top: 20px;">
            <p>Morbi ultrices nulla vel facilisis pharetra. Etiam vel magna sed purus sodales hendrerit a vitae
                lectus. Etiam luctus est scelerisque maximus iaculis. Phasellus sollicitudin, enim ac fringilla
                lacinia, erat quam luctus lectus, sit amet scelerisque sem leo a neque. Praesent tincidunt libero
                vitae placerat vestibulum. Etiam vel lectus id ante tincidunt elementum sit amet id turpis. Donec at
                luctus est. Cras a porta dui, at luctus felis. Nullam suscipit ex ac enim mollis placerat. Morbi
                ante leo, semper vel rutrum vitae, vulputate nec felis. Integer gravida aliquam quam, a malesuada
                enim mollis vitae. Mauris ut ex sit amet diam ultricies porttitor. Aenean blandit fringilla augue a
                blandit. Nulla rhoncus fringilla neque, id sollicitudin nibh faucibus non. Vestibulum bibendum sem
                augue, sit amet dapibus mi efficitur et. Curabitur ultrices porttitor pellentesque.</p>
        </div>
    </div>
    </div>
</span>
{% endblock %}